name: Release

on:
  push:
    tags: [ '*' ]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        build_type: [Release]
        c_compiler: [gcc, clang, cl]
        include:
          - os: windows-latest
            c_compiler: cl
            cpp_compiler: cl
          - os: ubuntu-latest
            c_compiler: gcc
            cpp_compiler: g++
          - os: ubuntu-latest
            c_compiler: clang
            cpp_compiler: clang++
          - os: macos-latest
            c_compiler: clang
            cpp_compiler: clang++
        exclude:
          - os: windows-latest
            c_compiler: gcc
          - os: windows-latest
            c_compiler: clang
          - os: ubuntu-latest
            c_compiler: cl
          - os: macos-latest
            c_compiler: gcc
          - os: macos-latest
            c_compiler: cl

    steps:
    - uses: actions/checkout@v4

    - name: Set reusable strings
      id: strings
      shell: bash
      run: |
        echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

    - name: Configure CMake
      run: >
        cmake -B ${{ steps.strings.outputs.build-output-dir }}
        -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}
        -DCMAKE_C_COMPILER=${{ matrix.c_compiler }}
        -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
        -S ${{ github.workspace }}

    - name: Build
      run: cmake --build ${{ steps.strings.outputs.build-output-dir }} --config ${{ matrix.build_type }}

    - name: Windows Package
      if: matrix.os == 'windows-latest'
      run: |
        Compress-Archive -CompressionLevel 9 -DestinationPath ${{ steps.strings.outputs.build-output-dir }}/edgingstreak-windows-${{ github.refname }}.zip -Path ${{ steps.strings.outputs.build-output-dir }}/edgingstreak

    - name: Linux Package
      if: matrix.os == 'ubuntu-latest'
      run: |
        zip -9 ${{ steps.strings.outputs.build-output-dir }}/edgingstreak-linux-${{ github.refname }}.zip ${{ steps.strings.outputs.build-output-dir }}/edgingstreak

    - name: Linux Package
      if: matrix.os == 'macos-latest'
      run: |
        zip -9 ${{ steps.strings.outputs.build-output-dir }}/edgingstreak-macos-${{ github.refname }}.zip ${{ steps.strings.outputs.build-output-dir }}/edgingstreak

    - name: Release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        name: edgingstreak ${{ github.ref_name }}
        files: ${{ steps.strings.outputs.build-output-dir }}/*.zip

